<h1>Hello!!!</h1>

<%= link_to "New Statement", new_statement_path %>

<% @statements.each do |statement| %>

<p> <%= statement.evidence %>  </p>

<p> <%= image_tag statement.image.url(:medium) %>  </p>

<%= link_to "See evidence", statement_path(statement.id) %>
<%= link_to "Tamper", edit_statement_path(statement.id) %>

<% end %>
